@page
@model TheMusicSea.Pages.BrowseDepartmentModel
@{
	ViewData["Title"] = "Browse";
}
<div class="sidenav">
    <h4>Browse Departments</h4>
    @foreach (var dept in this.Model.Departments)
    {
        <a href="@Url.Page("/BrowseDepartment", new {departmentId = dept.ID})">@dept.Name</a>
    }
</div>
<div class="text-center">
    <h1 class="display-5">Browse @Model.Department?.Name</h1>
    <p><strong>@Model.Department?.Description</strong></p>
</div>

@if(Model.Items.Count() == 0)
{
    <i>Nothing to see in this category... maybe should buy some inventory!</i>
}
<!-- UI card layout based on the very helpful suggestion here: https://stackoverflow.com/questions/48639792/bootstrap-4-cards-as-grid-with-the-same-height-and-width -->
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3">
        @foreach(var item in Model.Items)
        {
            <div class="col mb-4">
                <div class="card" style="max-width: 300px">
                    <a href="@Url.Page("/ViewProduct", new {itemId = item.ID})">
                        <img class="card-img-top" src="~/images/item/thumbnail/@item.PhotoURI" alt="@item.Name">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer @item.SaleClass">
                        $@item.Price <strong>@item.SalePercentage</strong>
                    </div>
                </div>
            </div>
        }
    </div>
</div>