@page
@model TheMusicSea.Pages.ViewProductModel
@{
    ViewData["Title"] = "Browse";
}
<div class="sidenav">
    <h4>Browse Departments</h4>
    @foreach (var dept in this.Model.Departments)
    {
        <a href="@Url.Page("/BrowseDepartment", new {departmentId = dept.ID})">@dept.Name</a>
    }
</div>
@if(Model.Item != null)
{
    <div class="text-center">
        <h1 class="display-5">@Model.Item.Name</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="images/item/@Model.Item.PhotoURI" width="400"/>
            </div>
            <div class="col-sm">
                <p><h3>@Model.Item.Name</h3></p>
                <p>@Model.Item.Description</p>
                <p><strong>Categories:</strong></p>
                <ul>
                    @foreach(var s in Model.Categories)
                    {
                        <li>@s</li>
                    }
                </ul>
                @if(Model.InStock)
                {
                    if(Model.LowStock)
                    {
                        <p class="alert-warning">@Model.LowStockMessage</p>
                    }
                    else
                    {
                        <p>@Model.StockMessage</p>
                    }
                }
                <h4>MSRP: $@Model.Item.MSRP</h4>
                <h4 class="@Model.Item.SaleClass">Price: $@Model.Item.Price @Model.Item.SalePercentage</h4>
                <form method="post" class="form-inline">
                    <input type="hidden" asp-for="ItemID"/>
                    <div class="form-group mb-2">
                        <label asp-for="Quantity">Quantity</label>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <input asp-for="Quantity" value="1" />
                    </div>
                    <input type="submit" class="btn-primary" value="Add This Item to Cart" />
                </form>
            </div>
        </div>
    </div>
}

